ZHUsDesign/*.txt
ZHUsDesign/*.out
PaillierEncTimeMeasurement/*.txt
PaillierEncTimeMeasurement/*.out
Modified_Zhus_Paper/*.txt
Modified_Zhus_Paper/*.out
AES_Enc_Decr_Time_Measurement/*.out
IBM_Work_On_Zhus_Paper/*.txt
IBM_Work_On_Zhus_Paper/*.out
My_Design_1/*.txt
My_Design_1/*.out
